


h5{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 20px;
    padding-top: 20px;

}

h6{
    font-size: 15px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;

}

.gigeo-logo{
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 40px;
    
}

.art-superior{
    position: absolute;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    bottom: 40px;
    left: 120px;
    
}
