.gigeo-logo{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 40px;

}
.art-superior{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    

}

.nombre-canal{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 17px;

}

.numero-seguidores{
    font-size: 15px;
}


